@import "../../styles/variables/index";
@import "../../breakpoints/breakpoints";

.expMidSection {
  min-width: 100%;
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  cursor: grab;
  margin-bottom: 14px;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}

.expMidSection::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.menuContainer {
  width: 200px;
  display: flex;
  flex-direction: row;
}

.expContentSection {
  margin-bottom: 20px;

  @include media(">768px") {
    max-width: 595px;
  }

  a {
    text-decoration: none;
    font-weight: $bold;
    color: $accent;
  }
}

.jobDate {
  font-size: 0.9em;

  @include media(">768px") {
    font-size: 1em;
  }

  font-style: italic;
  color: $clearWhite;
  margin-top: -15px;
}

.expJobDesc {
  margin-right: 0;

  @include media(">768px") {
    margin-right: 30px;
  }

  ul {
    list-style-type: "— ";
    list-style-position: outside;
    padding-left: 20px;

    li {
      color: $clearWhite;
      margin-bottom: 15px;
    }
  }
}

