@import "../breakpoints/breakpoints.scss";

$font: "Akkurat", "Cerebri Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
  Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

// Color Variables
$daySky: #feafa0;
$dayShadow: rgba(255, 0, 0, 0.1);
$primary: #221c47;
$secondary: #afa1ff;
$accent: #504cff;
$navyish: #343a50;
$white: #fff;
$inactiveLinks: #afa1ff;
$grayLabel: rgba(112, 112, 112, 0.5);

// Font variables
$bold: 700;

html,
body {
  font-family: $font;
  font-size: 16px;
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  cursor: none;
  background: $primary;
}

// Cursor
.cursor {
  width: 2rem;
  height: 2rem;
  border: 1px solid $accent;
  border-radius: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  pointer-events: none;
  transition: all 0.3s ease;
  transition-property: background, transform;
  transform-origin: 100% 100%;
  z-index: 11;
}

.cursor-grow {
  transform: scale(2);
  background: $accent;
  z-index: 9;
}

// Header
header {
  height: 80px;
  width: 100%;
  position: absolute;
  top: 0px;
  z-index: 10;
  .inner-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    .logo {
      font-weight: $bold;
      color: $inactiveLinks;
      a {
        text-decoration: none;
        font-weight: $bold;
        color: $accent;
        margin-right: 15px;
        margin-left: 80px;
        @include media("<=desktop") {
          margin-left: 20px;
        }
      }

      .hovered-logo {
        color: $white;
      }
    }
    .navigation {
      nav {
        a {
          margin: 0 80px;
          text-decoration: none;
          font-weight: $bold;
          color: $inactiveLinks;
          transition: 0.3s ease-in-out;
          @include media("<=desktop") {
            margin: 0 20px;
          }

          &:hover {
            color: $white;
          }
          &:hover:after {
            content: "•";
            color: #ff8282;
            position: absolute;
            margin-left: 5px;
            transition: 0.3s ease-in-out;
          }
        }
      }
    }
  }
}

main {
  width: 100%;
  height: 100%;
  position: absolute;

  .welcome-section {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;

    .browser-content {
      position: relative;
      width: 502px;
      height: 223px;
      left: -90px;
      display: flex;
      flex-direction: column;
      z-index: 1;
      font-family: "Cerebri Sans";
      h1 {
        font-size: 5.6em;
        color: $accent;
      }
      em {
        font-size: 14px;
        color: $secondary;
        margin-top: -2.5em;
      }
      p {
        color: $secondary;
        margin-top: 1em;
      }
    }

    .browser-svg {
      position: absolute;
    }
  }

  .about-section {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
  }
}

footer {
  height: 80px;
  width: 100%;
  position: fixed;
  bottom: 0px;
  z-index: 10;
  a {
    margin-left: 80px;
    text-decoration: none;
    font-weight: $bold;
    color: $inactiveLinks;
    transition: 0.3s ease-in-out;
    @include media("<=desktop") {
      margin: 0 20px;
    }
    // &:last-child {
    //   margin-right: 0px;
    // }
    &:hover {
      color: $white;
    }
    &:hover:after {
      content: "•";
      color: #ff8282;
      position: absolute;
      margin-left: 5px;
      transition: 0.3s ease-in-out;
    }
  }
}
