@import "../breakpoints/breakpoints.scss";

$font: "Akkurat", "Cerebri Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
  Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

// Color Variables
$primary: #221c47;
$secondary: #afa1ff;
$tertiary: #2d255b;
$accent: #504cff;
$numberColor: #ffe600;
$white: #fff;
$inactiveLinks: #afa1ff;

// Font variables
$bold: 700;
$regular: 400;
$light: 300;

html,
body {
  font-family: $font;
  font-size: 16px;
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  cursor: none;
  background: $primary;
}

// Cursor
.cursor {
  width: 2rem;
  height: 2rem;
  border: 1px solid $accent;
  border-radius: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  pointer-events: none;
  transition: all 0.3s ease;
  transition-property: background, transform;
  transform-origin: 100% 100%;
  z-index: 11;
}

.cursor-grow {
  transform: scale(2);
  background: $accent;
  z-index: 9;
}

// Intro Screen
.intro-screen {
  width: 100vw;
  height: 100vh;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: $accent;
  z-index: 15;

  .droplet-container {
    // background: green;
  }

  .puddle-container {
    // background: red;
    position: relative;
    top: 90px;
  }
}

// Header
header {
  height: 80px;
  width: 100%;
  position: absolute;
  top: 0px;
  z-index: 10;
  .inner-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    .logo {
      font-weight: $bold;
      color: $inactiveLinks;
      a {
        text-decoration: none;
        font-weight: $bold;
        color: $accent;
        margin-right: 15px;
        margin-left: 80px;
        @include media("<=desktop") {
          margin-left: 20px;
        }
      }

      .hovered-logo {
        color: $white;
      }
    }
    .navigation {
      nav {
        a {
          margin: 0 80px;
          text-decoration: none;
          font-weight: $bold;
          color: $inactiveLinks;
          transition: 0.3s ease-in-out;
          @include media("<=desktop") {
            margin: 0 20px;
          }

          &:hover {
            color: $white;
          }
          &:hover:after {
            content: "•";
            color: #ff8282;
            position: absolute;
            margin-left: 5px;
            transition: 0.3s ease-in-out;
          }
        }
      }
    }
  }
}

main {
  font-family: "Cerebri Sans";
  width: 100%;
  height: 100%;
  position: absolute;

  // Welcome Section
  .welcome-section {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;

    .browser-content {
      position: relative;
      width: 502px;
      height: 223px;
      left: -90px;
      display: flex;
      flex-direction: column;
      z-index: 1;
      h1 {
        font-weight: $bold;
        font-size: 5.6em;
        color: $accent;
      }
      em {
        font-weight: $light;
        font-size: 14px;
        color: $secondary;
        margin-top: -2.5em;
      }
      p {
        font-weight: $regular;
        color: $secondary;
        margin-top: 1em;
      }
    }

    .browser-svg {
      position: absolute;

      .floating-rectangle {
        width: 335px;
        height: 250px;
        background: $accent;
        opacity: 0.1;
        background-blend-mode: exclusion;
        filter: blur(2px);
        position: absolute;
        right: -80px;
        bottom: -80px;
        z-index: 3;
        border-radius: 5px;
      }
    }
  }

  // About Section
  .about-section {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;

    .inner-container {
      display: flex;
      flex-direction: row;

      .left-section {
        display: flex;
        flex-direction: column;

        .top-section {
          display: flex;
          flex-direction: row;

          .number-container {
            width: 39px;
            height: 39px;
            position: relative;
            margin-right: 20px;

            .square {
              width: 30px;
              height: 30px;
              display: flex;
              justify-content: center;
              align-items: center;
              position: absolute;
              bottom: 0px;
              left: 0px;
              background: $accent;
              background-blend-mode: difference;
            }

            .number {
              width: 30px;
              height: 30px;
              display: flex;
              position: absolute;
              bottom: 0px;
              left: 0px;
              justify-content: center;
              align-items: center;
              strong {
                font-size: 1em;
                opacity: 1;
                color: $numberColor;
                z-index: 3;
              }
            }

            .dot-grid-svg {
              width: 30px;
              height: 30px;
              position: absolute;
              right: 0px;
            }
          }

          h2 {
            font-size: 3.1em;
            color: $accent;
          }
        }

        .mid-section {
          width: 512px;

          p {
            font-size: 1em;
            color: $secondary;
          }
        }

        .bottom-section {
          display: flex;
          width: 400px;
          flex-wrap: wrap;

          .tag {
            display: inline;
            font-size: 12px;
            font-weight: $regular;
            color: $white;
            background: $accent;
            border-radius: 5px;
            padding: 5px 10px;
            margin: 0px 20px 13px 0px;
          }
        }
      }

      .right-section {
        margin-left: 20px;
        top: 50px;
        width: 272px;
        height: 272px;
        position: relative;

        .image-filter {
          width: 224px;
          height: 224px;
          position: absolute;
          bottom: 0px;
          left: 0px;
          border-radius: 50%;
          background: rgba(113, 88, 255, 0.42);
          z-index: 2;
        }

        .profile-pic {
          width: 224px;
          height: 224px;
          position: absolute;
          bottom: 0px;
          left: 0px;

          img {
            border-radius: 50%;
          }
        }

        .circle {
          width: 100%;
          height: 100%;
          position: absolute;
          background: $tertiary;
          border-radius: 50%;
        }
      }
    }
  }

  // Experience Section
  .experience-section {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;

    .inner-container {
      display: flex;
      flex-direction: row;

      .left-section {
        display: flex;
        flex-direction: column;

        .top-section {
          display: flex;
          flex-direction: row;

          h2 {
            font-size: 3.1em;
            color: $accent;
          }
        }

        .mid-section {
          width: 400px;
          display: flex;
          flex-direction: row;
          // background: red;
          margin-bottom: 26px;
          cursor: grab;
          overflow-x: scroll;
          -ms-overflow-style: none;  /* Internet Explorer 10+ */
          scrollbar-width: none;  /* Firefox */
        }

        .mid-section::-webkit-scrollbar { 
          display: none;  /* Safari and Chrome */
      }

        .bottom-section {
          width: 595px;

          p {
            font-weight: $regular;
            font-size: 1em;
            color: $secondary;
          }
        }

        .right-section {
        }
      }
    }

    // Projects Section
    .projects-section {
    }
  }
}

footer {
  height: 80px;
  width: 100%;
  position: fixed;
  bottom: 0px;
  z-index: 10;
  a {
    margin-left: 80px;
    text-decoration: none;
    font-weight: $bold;
    color: $inactiveLinks;
    transition: 0.3s ease-in-out;
    @include media("<=desktop") {
      margin: 0 20px;
    }
    &:hover {
      color: $white;
    }
    &:hover:after {
      content: "•";
      color: #ff8282;
      position: absolute;
      margin-left: 5px;
      transition: 0.3s ease-in-out;
    }
  }
}

// Components

// Menu Button Component
.menu-button {
  display: inline;
  font-size: 14px;
  font-weight: $regular;
  color: $white;
  background: $accent;
  border-radius: 5px;
  padding: 8px 14px;
  margin-right: 18px;
  transition: 0.3s ease-in-out;

  &:hover {
    background: $accent;
  }
}

// Section Number Component
.number-container {
  width: 39px;
  height: 39px;
  position: relative;
  margin-right: 20px;

  .square {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0px;
    left: 0px;
    background: $accent;
    background-blend-mode: difference;
  }

  .number {
    width: 30px;
    height: 30px;
    display: flex;
    position: absolute;
    bottom: 0px;
    left: 0px;
    justify-content: center;
    align-items: center;
    strong {
      font-size: 1em;
      opacity: 1;
      color: $numberColor;
      z-index: 3;
    }
  }

  .dot-grid-svg {
    width: 30px;
    height: 30px;
    position: absolute;
    right: 0px;
  }
}
