@import "../breakpoints/breakpoints.scss";

$font: "Akkurat", "Cerebri Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
  Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

// Color Variables
$primary: #221c47;
$secondary: #afa1ff;
$tertiary: #2d255b;
$accent: #504cff;
$numberColor: #ffe600;
$white: #fff;
$inactiveLinks: #afa1ff;

// Font variables
$bold: 700;
$regular: 400;
$light: 300;

html,
body {
  width: 100%;
  min-height: 100vh;
  font-family: $font;
  font-size: 16px;
  padding: 0;
  margin: 0;
  line-height: 1.3;
  overflow-x: hidden;
  overflow-y: auto;
  cursor: none;
  background: $primary;
  -webkit-font-smoothing: antialised;
  // justify-content: center;
  // align-items: center;
}

// Cursor
.cursor {
  width: 2rem;
  height: 2rem;
  border: 1px solid $accent;
  border-radius: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  pointer-events: none;
  transition: all 0.3s ease;
  transition-property: background, transform;
  transform-origin: 100% 100%;
  z-index: 11;

  @include media("<=tablet") {
    display: none;
  }
}

.cursor-grow {
  transform: scale(2);
  background: $accent;
  z-index: 9;
}

// Intro Screen
.intro-screen {
  width: 100vw;
  height: 100vh;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: $accent;
  z-index: 15;
  overflow-x: hidden;
  overflow-y: hidden;

  .droplet-container {
    z-index: 17;

    .circle-expand {
      width: 20px;
      height: 20px;
      position: relative;
      background: $primary;
      border-radius: 50%;
      margin-bottom: 17px;
      margin-left: 7px;
      transform-origin: 50% 50%;
      opacity: 0;
    }
    .circle-expand2 {
      width: 20px;
      height: 20px;
      position: absolute;
      background: rgba(34, 28, 71, 0.2);
      border-radius: 50%;
      margin-top: -37px;
      margin-left: 7px;
      transform-origin: 50% 50%;
      opacity: 0;
    }
  }

  .puddle-container {
    position: relative;
    top: 90px;
    z-index: 16;
  }
}

// Root Container
.root {
  font-family: "Cerebri Sans";
  opacity: 0;
}

// Header
header {
  height: 80px;
  width: 100%;
  position: fixed;
  top: 0px;
  z-index: 10;
  transition: 0.3s ease-in-out;
  .inner-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    .logo {
      font-weight: $bold;
      color: $inactiveLinks;
      a {
        text-decoration: none;
        font-weight: $bold;
        color: $accent;
        margin-right: 15px;
        margin-left: 80px;
        @include media("<=desktop") {
          margin-left: 20px;
        }
      }

      .hovered-logo {
        color: $white;
      }
    }
    .navigation {
      @include media("<=tablet") {
        display: none;
      }
      nav {
        div {
          display: inline-block;
          a {
            margin: 0 80px;
            text-decoration: none;
            font-weight: $bold;
            color: $inactiveLinks;
            transition: 0.3s ease-in-out;
            @include media("<=desktop") {
              margin: 0 20px;
            }

            &:hover {
              color: $white;
            }
            &:hover:after {
              content: "•";
              color: #ff8282;
              position: absolute;
              margin-left: 5px;
              transition: 0.3s ease-in-out;
            }
          }
        }
      }
    }
  }
}

.header-hidden {
  opacity: 0;
}

main {
  // Welcome Section
  .welcome-section {
    display: flex;
    width: 100%;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    // background: red;

    .browser {
      // display: flex;
      width: 1005px;
      height: 517px;
      position: absolute;
      // flex-direction: column;
      background-image: url("../images/browser-mock.svg");
      background-repeat: no-repeat;
      // background-size: cover;
      border-radius: 15px;
      // margin-left: 140px;
      // padding-top: 140px;

      @include media("<=tablet") {
        width: 595px;
        height: 458px;
        background-image: url("../images/browser-mock-tablet.svg");
        background-repeat: no-repeat;
        padding-left: 50px;
      }

      @include media("<=phone") {
        width: 314;
        height: 380;
        background-image: url("../images/browser-mock-phone.svg");
        background-repeat: no-repeat;
        background-position: center;
        padding-left: 50px;
      }

      .content {
        width: 502px;
        height: 223px;
        margin-left: 140px;
        margin-top: 140px;

        @include media("<=tablet") {
          width: 350px;
        }

        @include media("<=phone") {
          width: 250px;
        }

        h1 {
          font-weight: $bold;
          font-size: 5.6em;
          color: $accent;
          margin-bottom: -20px;

          @include media("<=tablet") {
            font-size: 3.1em;
            margin-bottom: -10px;
          }

          @include media("<=phone") {
            font-size: 2em;
          }
        }
        em {
          font-weight: $light;
          font-size: 14px;
          color: $secondary;
        }
        p {
          font-weight: $regular;
          color: $secondary;
          margin-top: 1em;
        }
      }
    }
  }

  // About Section
  .about-section {
    display: flex;
    width: 100%;
    min-height: 100vh;
    justify-content: center;
    align-items: center;

    .inner-container {
      display: flex;
      max-width: 700px;
      min-width: 250px;
      flex-direction: row;

      @include media("<=tablet") {
        padding-left: 30px;
        padding-right: 30px;
        flex-direction: column;
      }

      .left-section {
        display: flex;
        flex-direction: column;

        .top-section {
          display: flex;
          flex-direction: row;
          align-items: center;

          .number-container {
            width: 39px;
            height: 39px;
            // position: relative;
            margin-right: 20px;
            // background: red;

            .square {
              width: 30px;
              height: 30px;
              display: flex;
              justify-content: center;
              align-items: center;
              position: absolute;
              bottom: 0px;
              left: 0px;
              background: $accent;
              background-blend-mode: difference;
            }

            .number {
              width: 30px;
              height: 30px;
              display: flex;
              position: absolute;
              bottom: 0px;
              left: 0px;
              justify-content: center;
              align-items: center;
              strong {
                font-size: 1em;
                opacity: 1;
                color: $numberColor;
                z-index: 3;
              }
            }

            .dot-grid-svg {
              width: 30px;
              height: 30px;
              position: absolute;
              right: 0px;
            }
          }

          h2 {
            font-size: 3.1em;
            color: $accent;
          }
        }

        .mid-section {
          width: 100%;

          @include media("<=tablet") {
            width: 100%;
          }

          p {
            font-size: 1em;
            color: $secondary;
          }
        }

        .bottom-section {
          display: flex;
          width: 400px;
          flex-wrap: wrap;

          .tag {
            display: inline;
            font-size: 12px;
            font-weight: $regular;
            color: $white;
            background: $accent;
            border-radius: 5px;
            padding: 5px 10px;
            margin: 0px 20px 13px 0px;
          }
        }
      }

      .right-section {
        display: flex;
        justify-content: center;
        align-items: center;

        .profile-pic {
          width: 224px;
          height: 224px;
          padding-right: 20px;
          padding-top: 20px;
          border-radius: 50%;
          background-color: $tertiary;

          img {
            display: block !important;
            border-radius: 50%;
          }
        }
      }
    }
  }

  // Experience Section
  .experience-section {
    display: flex;
    width: 100%;
    min-height: 100vh;
    justify-content: center;
    align-items: center;

    .inner-container {
      display: flex;
      max-width: 595px;
      min-width: 250px;
      flex-direction: row;

      @include media("<=tablet") {
        padding-left: 30px;
        padding-right: 30px;
        flex-direction: column;
      }

      .left-section {
        display: flex;
        flex-direction: column;

        .top-section {
          display: flex;
          flex-direction: row;
          align-items: center;

          h2 {
            font-size: 3.1em;
            color: $accent;
          }
        }

        .mid-section {
          width: 100%;
          display: flex;
          flex-direction: row;
          margin-bottom: 26px;
          cursor: grab;
          overflow-x: scroll;
          -ms-overflow-style: none; /* Internet Explorer 10+ */
          scrollbar-width: none; /* Firefox */
        }

        .mid-section::-webkit-scrollbar {
          display: none; /* Safari and Chrome */
        }

        .bottom-section {
          width: 100%;

          p {
            font-weight: $regular;
            font-size: 1em;
            color: $secondary;
          }
        }

        .right-section {
        }
      }
    }

    // Projects Section
    .projects-section {
    }
  }
}

footer {
  height: 80px;
  width: 100%;
  position: fixed;
  bottom: 0px;
  z-index: 10;
  display: none;

  @include media("<=tablet") {
    display: none;
  }

  a {
    margin-left: 80px;
    text-decoration: none;
    font-weight: $bold;
    color: $inactiveLinks;
    transition: 0.3s ease-in-out;
    @include media("<=desktop") {
      margin: 0 20px;
    }
    &:hover {
      color: $white;
    }
    &:hover:after {
      content: "•";
      color: #ff8282;
      position: absolute;
      margin-left: 5px;
      transition: 0.3s ease-in-out;
    }
  }
}

// Components

// Menu Button Component
.menu-button {
  display: inline;
  font-size: 14px;
  font-weight: $regular;
  color: $white;
  background: $accent;
  border-radius: 5px;
  padding: 8px 14px;
  margin-right: 18px;
  transition: 0.3s ease-in-out;

  &:hover {
    background: $accent;
  }
}

// Section Number Component
.number-container {
  width: 39px;
  height: 39px;
  position: relative;
  margin-right: 20px;

  .square {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0px;
    left: 0px;
    background: $accent;
    background-blend-mode: difference;
  }

  .number {
    width: 30px;
    height: 30px;
    display: flex;
    position: absolute;
    bottom: 0px;
    left: 0px;
    justify-content: center;
    align-items: center;
    strong {
      font-size: 1em;
      opacity: 1;
      color: $numberColor;
      z-index: 3;
    }
  }

  .dot-grid-svg {
    width: 30px;
    height: 30px;
    position: absolute;
    right: 0px;
  }
}
