@import "../styles/variables/index";
@import "../breakpoints/breakpoints";

.menuButton {
  float: left;
  font-size: 12px;

  @include media(">768px") {
    font-size: 14px;
  }

  font-weight: $regular;
  color: $white;
  background: $activeButton;
  border-radius: 5px;
  padding: 6px 12px;

  @include media(">768px") {
    padding: 8px 14px;
  }

  margin-right: 12px;

  @include media(">768px") {
    margin-right: 18px;
  }

  transition: 0.3s ease-in-out;
  white-space: nowrap;

  &:hover {
    background: $accent;
  }
}

.menuButtonActive {
  background: $activeButton;
  color: $white;
}

.menuButtonInactive {
  background: $inactiveButton;
  color: rgba(255, 255, 255, 0.5);
}

