// Color Variables
$primary: #221c47;
$primaryDark: #1f1a42;
$primaryDarker: #1d183d;
$secondary: #504cff;
$accent: #ffc700;
$numberColor: #ffe600;
$white: #fff;
$clearWhite: rgba(255, 255, 255, 0.7);
$inactiveLinks: #afa1ff;
$activeButton: #221c47;
$inactiveButton: rgba(34, 28, 71, 0.4);

